.botao-laranja {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: $laranja;
  width: fit-content;
  height: fit-content;
  filter: drop-shadow(0px 20px 20px rgba(22, 21, 67, 0.2));
  border-radius: 20px;
  img {
    margin-right: 13.14px;
  }
  &:hover {
    color: white;
  }
}