

.fw-400 {
  font-weight: 400;
  a {
    font-weight: 400;
  }
}
.fw-600 {
  font-weight: 600;
  a {
    font-weight: 600;
  }
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
  a {
    font-weight: 800;
  }
}

.fw-900 {
  font-weight: 900;
  a {
    font-weight: 900;
  }
}

.fs-14 {
  font-size: 14px;
  a {
    font-size: 14px;
  }
}
.fs-18 {
  font-size: 18px;
  a {
    font-size: 18px;
  }
}
.fs-24 {
  font-size: 24px;
  a {
    font-size: 24px;
  }
}
.fs-27 {
  font-size: 27px;
  a {
    font-size: 27px;
  }
}
.fs-35 {
  font-size: 35px;
}
.fs-64 {
  font-size: 64px;
}