

.fw-400 {
  font-weight: 400;
  a {
    font-weight: 400;
  }
}
.fw-600 {
  font-weight: 600;
  a {
    font-weight: 600;
  }
}

.fs-18 {
  font-size: 18px;
  a {
    font-size: 18px;
  }
}
.fs-27 {
  font-size: 27px;
  a {
    font-size: 28px;
  }
}