

.depoimentos {
  .botao-laranja {
    box-shadow: 0px 20px 20px rgba(22, 21, 67, 0.2);
    border-radius: 100px;
    width: 339px;
    margin-top: 57px;
  }
  .titulo-depoimentos {
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    padding-top: 109px;
    h3 {
      color: $cinza-escuro;
      font-weight: 700;
      font-size: 35px;
      line-height: 42.36px;
    }
    p {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 24px;
      line-height: 28.13px;
      color: $cinza;
    }
    .paginacao-depoimentos {
      display: flex;
      align-items: center;
      .swiper-pagination-bullets {
        display: flex;
        gap: 33px;
        padding-right: 34px;
        .swiper-pagination-bullet {
          padding: 4px;
          border: 1px solid $azul-escuro !important;
          background-color: transparent;
          &:active {
            border: 1px solid $laranja !important;
          }
        }
        .swiper-pagination-bullet-active {
          background-color: $azul-escuro !important;
        }
      }
      .setas-depoimentos {
        display: flex;
        gap: 26px;
        div:hover {
          path {
            stroke: $laranja;
          }
        }
      }
    }
  }
  .depoimentos-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    max-width: 416px;
    height: fit-content;
    box-shadow: 0px 20px 20px rgba(49, 48, 108, 0.2);
    span {
      background-image: linear-gradient(to right, $azul-escuro, $roxo, $laranja);
      width: 100%;
      height: 20px;
      border-radius: 20px 20px 0 0;
    }
    .modelo-depoimento {
      margin-top: -50px;
      height: 100px;
      width: 100px;
    }
    h4 {
      color: $azul-escuro;
      text-align: center;
      padding-top: 25px;
      padding-bottom: 14px;
    }
    p {
      color: #8b8b8b;
      font-weight: 400;
      font-size: 17px;
      line-height: 21px;
      text-align: center;
      border-bottom: 2px solid $cinza-claro;
      max-width: 350px;
      height: 250px;
    }
    .link-depoimento {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 29px 0 37px 0;
      a {
        color: $laranja;
        text-decoration: none;
        font-weight: 700;
        font-size: 13px;
        line-height: 15.73px;
        text-align: center;
      }
      img {
        height: 8px;
        width: 8px;
      }
    }
  }  
}