footer {
  background-color: $azul-escuro;
  position: relative;
  a {
    text-decoration: none;
  }
  h2 {
    width: 230px;
  }
  .row {
    padding-top: 138px;
  }
  .botao-laranja {
    width: 229px !important;
  }
}
.links-footer a {
  width: fit-content;
  border-bottom: 2px solid transparent;
  &:hover {
    border-bottom: 2px solid $laranja;
  }
}
.redes {
  background: linear-gradient(90deg, $azul-escuro -0.7%, $roxo 47.21%, $laranja 98.21%);
  height: 53px;
  .links-redes {
    display: flex;
    gap: 55px;
    a:hover {
      path {
        fill: rgba(255, 255, 255, 0.8);
      }
    }
  }
}

.certificacoes-box {
  margin-top: 75px;
  margin-bottom: 40px;
  background-color: $branco;
  border-radius: 20px;
  .certificacoes {
    padding-top: 59px;
    padding-bottom: 35px;
    color: $cinza-escuro;
    .certificacoes-itens {
      padding-top: 16px;
      gap: 13px;
    }
  }

  .box-info {
    .direitos {
      padding-right: 106px;
    }
    p {
      color: #8B8B8B;
    }
    .politicas {
      a {
        color: $azul-escuro;
        &:first-of-type {
          padding-right: 30px;
        }
        &:hover {
          color: $laranja;
        }
      }
    }
  }
}

.seta-topo {
  position: absolute;
  bottom: 98px;
  right: 21px;
}

.zap {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 3000;
  &:hover {
    rect {
      fill: #2FDA55;
    }
  }
}