footer {
  background-color: $azul-escuro;
  a {
    text-decoration: none;
  }
  h2 {
    width: 230px;
  }
  .row {
    padding-top: 138px;
  }
  .botao-laranja {
    width: 229px;
  }
}

.redes {
  background: linear-gradient(90deg, $azul-escuro -0.7%, $roxo 47.21%, $laranja 98.21%);
  height: 53px;
  .links-redes {
    display: flex;
    gap: 55px;
  }
}

.zap {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 500;
}