
.desconto {
  height: 50px;
  text-align: center;
  background-image: linear-gradient(to right, $azul-escuro, $laranja);
  color: $branco;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  p {
    padding-top: 10px;
  }
  a {
    color: $branco;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  .itens-nav {
    display: flex;
    justify-content: space-between;
    z-index: 2000;
    .lupa {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $laranja;
      height: 45px;
      width: 45px;
      border-radius: 100%;
      filter: drop-shadow(0px 20px 20px rgba(22, 21, 67, 0.2));
      margin-right: 30px;
      img {
        width: 22px;
        height: 22px;
      }
    }
  }
}


.menu {
  margin-left: 30px;
  width: 133px;
  height: 45px;
  background-color: white;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  .burgir {
    width: 23px;
    height: 17px;
    position: relative;
    margin-right: 7px;
    span {
      width: 100%;
      height: 3px;
      background-color: $laranja;
      position: absolute;
    }
    .top {
      top: 0;
      transition: all 0.5s ease-in-out;
    }
    .mid {
      top: 7px;
      transition: all 0.8s ease-in-out;
    }
    .bot {
      bottom: 0;
      transition: all 0.5s ease-in-out;
    }
  }
  p {
    width: 54px;
    height: 22px;
    color: $laranja;
    margin-bottom: 5px;
  }
  &.active {
    .burgir {
      .top {
        transform: rotate(30deg);
        top: 7px;
      }
      .mid {
        opacity: 0;
      }
      .bot {
        transform: rotate(-30deg);
        top: 7px;
      }
    }
  }
}

.links-menu {
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .itens-1 {
    height: 100%;
    background-color: rgba(41, 40, 86, 0.99);
  }
  .itens-2 {
    background: linear-gradient(90deg, rgba(49, 48, 108, 0.99) -0.7%,rgba(100, 58, 155, 0.99) 47.21%,
     rgba(240, 127, 60, 0.99) 98.21%);
    backdrop-filter: blur(10px);
    height: 100%;
  }

  .links-1, .links-2 {
    height: 317px;
    width: fit-content;
    margin-top: 192px;
    display: flex;
    flex-direction: column;
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      border-bottom: 3px solid transparent;
      color: white;
      width: fit-content;
      p {
        margin-bottom: 0;
      }
      img {
        padding-right: 5px;
      }
      &:hover {
        border-bottom: 3px solid $laranja;
      }
    }
  }

}
