
$laranja: #f07f3c;
$laranja-escuro: #ff650a;
$azul-escuro: #31306c;
$branco: #ffffff;
.desconto {
  height: 50px;
  text-align: center;
  background-image: linear-gradient(to right, $azul-escuro, $laranja);
  color: $branco;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  p {
    padding-top: 10px;
  }
  a {
    color: $branco;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  background-color: #31306c;
  .itens-nav {
    display: flex;
    justify-content: space-between;
    .lupa {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $laranja;
      height: 45px;
      width: 45px;
      border-radius: 100%;
      filter: drop-shadow(0px 20px 20px rgba(22, 21, 67, 0.2));
      margin-right: 30px;
      img {
        width: 22px;
        height: 22px;
      }
    }
  }
}

.botao-laranja {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: $laranja;
  filter: drop-shadow(0px 20px 20px rgba(22, 21, 67, 0.2));
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
  img {
    margin-right: 13.14px;
  }
}

.menu {
  margin-left: 30px;
  width: 133px;
  height: 45px;
  background-color: white;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  .burgir {
    width: 23px;
    height: 17px;
    position: relative;
    margin-right: 7px;
    span {
      width: 100%;
      height: 3px;
      background-color: $laranja;
      position: absolute;
    }
    .top {
      top: 0;
    }
    .mid {
      top: 7px;
    }
    .bot {
      bottom: 0;
    }
  }
  p {
    width: 54px;
    height: 22px;
    font-weight: 600;
    font-size: 18px;
    color: $laranja;
    margin-bottom: 5px;
  }
}
