.bg-intro {
  background-image: url(assets/images/banner.png);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 557px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  .texto-intro {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      max-width: 734px;
    }
    p {
      width: 488px;
    }
    .botao-laranja {
      width: 266px;
    }
  }
}

.swiper-pagination {
  padding-right: 34px;
  width: fit-content;
  position: static;
}
.swiper-pagination-bullets {
  display: flex;
  gap: 33px;
  .swiper-pagination-bullet {
    border: 1px solid white !important;
    background-color: transparent;
    opacity: 1;
    padding: 4px;
    &:active {
      border: 1px solid $laranja !important;
    }
  }
  .swiper-pagination-bullet-active {
    background-color: white !important;
  }
}

.paginacao-intro {
  padding: 0 32px 34px 0;
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: fit-content;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  .setas-intro {
    display: flex;
    width: fit-content;
    padding-left: 34px;
    div:hover {
      path {
        stroke: $laranja;
      }
    }
    .intro-button-prev {
      padding-right: 26px;
    }
  }
}

.descer {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  opacity: 0.5;
  width: fit-content;
  height: fit-content;
  a {
    text-decoration: none;
    letter-spacing: 0.44em;
    p {
      color: white;
    }
    span {
      height: 107px;
      width: 2px;
      display: block;
      background-color: white;
    }
  }

}