.bg-intro {
  background-image: url(assets/images/banner.png);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 557px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  .texto-intro {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      max-width: 734px;
    }
    p {
      width: 488px;
    }
    .botao-laranja {
      width: 266px;
    }
  }
}

.descer {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  opacity: 0.5;
  width: fit-content;
  height: fit-content;
  a {
    text-decoration: none;
    letter-spacing: 0.44em;
    p {
      color: white;
    }
    span {
      height: 107px;
      width: 2px;
      display: block;
      background-color: white;
    }
  }

}