main {
  background-color: $azul-escuro;
  .botao-laranja {
    width: 295px;
    margin: 54px 0 86px 0;
  }
}

.texto-categorias {
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $branco;
  padding-bottom: 132px;
  h2 {
    font-weight: 700;
    font-size: 35px;
  }
  p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28.13px;
    max-width: 924px;
    width: 100%;
  }
}

.cursos-itens {
  overflow: hidden;
  .curso-link {
    position: relative;
    cursor: pointer;
    &:hover {
      .mais, .mais2, .mais3, .mais4 {
        background-color: $laranja;
        border-radius: 100%;
        padding: 15px;
      }
      & > img {
        transition-duration: 1s;
        filter: brightness(50%);
        transform: scale(1.2);
      }
    }
  }
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    h3 {
      font-weight: 800;
      font-size: 29px;
      line-height: 30px;
      text-align: center;
      padding-bottom: 20px;
    }
  }
}
.texto-cursos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 53px;
}

.texto-oculto {
  display: flex;
  flex-direction: column;
  align-items: center;
  .faixa {
    height: 2px;
    width: 31px;
    background-color: $laranja;
    border: 1px solid $laranja;
    margin-bottom: 16px;
    margin: auto;
    display: block;
    margin-bottom: 16px;
  }
  .mais, .mais2, .mais3, .mais4 {
    border: 3px solid $laranja;
    border-radius: 100%;
    padding: 15px;
    width: fit-content;
    height: fit-content;
    img {
      height: 20px;
      width: 20px;
    }
  }
  .texto-aberto, .texto-aberto2, .texto-aberto3, .texto-aberto4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 30px;
    width: 253px;
  }
}

// section cursos

.cursos {
  background-color: $azul-escuro;
  padding-bottom: 86px;
  .principais-cursos {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    &>img {
      height: 490px;
    }
    &:hover {
      a > img {
        transform: scale(1.2);
        transition-duration: 1s;
        filter: brightness(50%);
      }
    }
    .vagas-limitadas {
      position: absolute;
      width: 129px;
      height: 129px;
      left: 0;
      top: 0;  
      background: linear-gradient(45deg, #31306C 12.87%, #643A9B 47.96%, #F07F3C 85.3%);
      clip-path: polygon(0 0, 100% 0%, 100% 0, 0 85%);
      p {
        font-weight: 800;
        font-size: 12px;
        color: white;
        margin: 0;
        width: 69px;
        transform: rotate(-41deg) translate(-10px, 17px);
        letter-spacing: 2px;
      }
    }
    .curso-online {
      background-color: #ffffff;
      color: $azul-escuro;
      font-weight: 800;
      font-size: 12px;
      text-align: right;
      border-radius: 100px;
      width: 121px;
      height: 25px;
      padding: 0 5px;
      position: absolute;
      top: 12px;
      right: 11.8px;
    }
    a {
      text-decoration: none;
    }
    .cursos-texto {
      position: absolute;
      bottom: 27px;
      left: 30px;
      h4 {
        color: white;
        font-weight: 600;
        font-size: 23px;
        line-height: 25px;
        text-align: left;
        width: 295px;
      }
      p {
        font-weight: 500;
        font-size: 17px;
        line-height: 20.57px;
        color: white;
      }
      .classificacao {
        display: flex;
        align-items: center;
        p {
          color: $laranja;
          font-weight: 700;
          font-size: 16px;
          margin: 0;
          padding-left: 5px;
        }
        img {
          height: 25px;
          width: 25px;
        }
      }
      .beneficios {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 250px;
        padding-bottom: 27px;
        div {
          display: flex;
          align-items: center;
          &:first-of-type, &:nth-of-type(2) {
            padding: 16px 0;
          }
          p {
            margin: 0;
            padding-left: 7px;
          }
        }
        img {
          width: 25px;
        }
      }
    }
  }
  .botao-laranja {
    width: 296px;
  }
}
