@media (max-width: 575.9px) {
  .desconto {
    background-size: 150%;
    a {
      font-size: 15px;
    }
    p {
      font-size: 15px;
      margin: 0;
      padding: 0;
    }
  }
  .menu {
    margin: 0;
  }
  .bg-intro {
    .texto-intro {
      h1 {
        font-size: 33px;
      }
      p {
        width: 100%;
      }
    }
  }
  // conheca
  .conheca-container {
    padding-top: 0;
    padding-bottom: 35px;
    .texto-conheca {
      h1,
      p,
      .vantagens h3 {
        text-align: center;
      }

      .botao-laranja {
        align-self: center;
      }
    }
  }

  // footer
  .certificacoes-box {
    .certificacoes {
      padding-top: 0;
      margin-top: 17px;
      border: 2px solid #c4c4c4;
      border-radius: 9px;
      width: calc(100% - 10%);
      .seta-certificacoes {
        padding: 20px;
      }
    }
    .direitos {
      padding-top: 30px;
      width: calc(100% - 10%);
      p {
        padding-left: 11.73px;
      }
    }
  }
  .redes {
    background-size: 150%;
    .links-redes {
      gap: 38px;
    }
  }
}
