@media (max-width: 575.9px) {
  .desconto {
    background-size: 150%;
    a {
      font-size: 15px;
    }
    p {
    font-size: 15px;
    margin: 0;
    padding: 0;
    }
  }
  .menu {
    margin: 0;
  }
  .bg-intro {
    .texto-intro {
      h1 {
        font-size: 33px;
      }
      p {
        width: 100%;
      }
    }
  }
  .redes {
    .links-redes {
      gap: 38px;
    }
  }
}