@media (max-width: 765.9px) {
  .desconto {
    background-size: 150%;
    z-index: 3000;
    a {
      font-size: 15px;
    }
    p {
      font-size: 15px;
      margin: 0;
      padding: 0;
    }
  }
  .nav {
    flex-wrap: nowrap;
    padding: 60px 10px;
    .itens-nav {
      align-self: flex-end;
    }
    .logo-mobile {
      z-index: 3500;
    }
  }
  .menu {
    margin: 0;
  }
  .links-menu {
    flex-direction: column-reverse;
    overflow: auto;
    .itens-1,
    .itens-2 {
      height: fit-content;
      width: 100% !important;
    }
    .links-1,
    .links-2 {
      align-items: flex-start;
      padding: 0 30px 0 30px;
      height: fit-content;
      width: 100% !important;
    }
    .links-1 {
      margin-top: 23px;
      a {
        font-size: 20px;
      }
    }
    .links-2 {
      font-size: 18px;
    }
  }
  .bg-intro {
    .texto-intro {
      h1 {
        font-size: 33px;
      }
      p {
        width: 100%;
      }
    }
  }
  // categorias
  .mySwiper-categorias {
    .swiper-slide {
      border-radius: 20px;
      overflow: hidden;
    }
  }
  .curso-link {
    height: 138px;
  }
  // conheca
  .conheca-container {
    padding-top: 0;
    padding-bottom: 35px;
    .texto-conheca {
      h1,
      p,
      .vantagens h3 {
        text-align: center;
      }

      .botao-laranja {
        align-self: center;
      }
    }
  }

  // categorias
  .texto-cursos {
    bottom: unset;
  }
  // cursos
  .cursos {
    .principais-cursos {
      background-color: $azul-escuro;
      img {
        height: 187.41px;
        width: 220px;
        border-radius: 20px;
      }
      .cursos-texto {
        position: unset;
        padding-top: 20px;
        width: 220px !important;
        h4 {
          width: fit-content;
        }
        .beneficios {
          flex-direction: column;
          padding-bottom: 0;
          div {
            padding: 10px 0 0 0 !important;
          }
          img {
            height: 25px;
          }
        }
      }
      .curso-online {
        top: 150px;
        right: unset;
        left: 12px;
      }
    }
  }

  // conheca
  .texto-conheca {
    padding-top: 104px;
  }
  // footer
  .links-footer {
    padding-top: 0 !important;
  }
  .toggle-footer {
    border-bottom: 1px solid #643a9b;
    height: 78px;
    gap: 17px;
  }
  .login-mobile {
    border-bottom: 1px solid #643a9b;
    height: 78px;
  }
  .itens-footer {
    display: block;
    max-height: 0px;
    overflow: hidden;
    transition: all 1s ease-in-out;
    margin: auto;
    text-align: center;
    a {
      margin: auto;
    }
  }
  .certificacoes-box {
    .certificacoes {
      padding: 0;
      margin-top: 17px;
      border: 2px solid #c4c4c4;
      border-radius: 9px;
      width: calc(100% - 10%);
      h1 {
        padding-top: 21px;
      }
      .seta-certificacoes {
        padding: 15px;
      }
      .certificacoes-itens {
        gap: 13px;
        max-height: 0;
        overflow: hidden;
        transition: all 1s ease-in-out;
      }
    }
    .politicas {
      gap: 15px !important;
      padding:22px 0 33px 0;
    }
    .direitos {
      padding-top: 30px;
      width: calc(100% - 10%);
      p {
        padding-left: 11.73px;
      }
    }
  }
  .redes {
    background-size: 150%;
    .links-redes {
      gap: 38px;
    }
  }
}
