@media (max-width: 575.9px) {
  .desconto {
    background-size: 150%;
    a {
      font-size: 15px;
    }
    p {
      font-size: 15px;
      margin: 0;
      padding: 0;
    }
  }
 .nav {
  flex-wrap: nowrap;
  padding: 60px 10px;
  .itens-nav {
    align-self: flex-end;
  }
 }
 .menu {
  margin: 0;
}
.links-menu {
  flex-direction: column-reverse;
  overflow: auto;
  .itens-1, .itens-2 {
    height: fit-content;
  }
  .links-1, .links-2 {
    align-items: flex-start;
    padding: 0 30px 0 30px;
    height: fit-content;
  }
  .links-1 {
    width: 100%;
    margin-top: 23px;
    a {
      font-size: 20px;
    }
  }
  .links-2 a {
    font-size: 18px;
  }
}
.bg-intro {
  .texto-intro {
    h1 {
      font-size: 33px;
    }
    p {
      width: 100%;
    }
  }
}
  // conheca
  .conheca-container {
    padding-top: 0;
    padding-bottom: 35px;
    .texto-conheca {
      h1,
      p,
      .vantagens h3 {
        text-align: center;
      }

      .botao-laranja {
        align-self: center;
      }
    }
  }
// cursos
  .texto-cursos {
    bottom: unset;
  }
  // footer
  .certificacoes-box {
    .certificacoes {
      padding: 0;
      margin-top: 17px;
      border: 2px solid #c4c4c4;
      border-radius: 9px;
      width: calc(100% - 10%);
      h1 {
        padding-top: 21px;
      }
      .seta-certificacoes {
        padding: 15px;
      }
    }
    .direitos {
      padding-top: 30px;
      width: calc(100% - 10%);
      p {
        padding-left: 11.73px;
      }
    }
  }
  .redes {
    background-size: 150%;
    .links-redes {
      gap: 38px;
    }
  }
}
