.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
// intro

.swiper-pagination {
  padding-right: 34px;
  width: fit-content;
  position: static;
}
.swiper-pagination-bullets {
  display: flex;
  gap: 33px;
  .swiper-pagination-bullet {
    border: 1px solid white !important;
    background-color: transparent;
    opacity: 1;
    padding: 4px;
    &:active {
      border: 1px solid $laranja !important;
    }
  }
  .swiper-pagination-bullet-active {
    background-color: white !important;
  }
}

.paginacao-intro,
.paginacao-intro-mobile {
  padding: 0 32px 34px 0;
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: fit-content;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  z-index: 500;
  .setas-intro {
    display: flex;
    width: fit-content;
    padding-left: 34px;
    div:hover {
      path {
        stroke: $laranja;
      }
    }
    .intro-button-prev {
      padding-right: 26px;
    }
  }
}

.paginacao-intro-mobile {
  gap: 15px;
  left: 50%;
  transform: translate(-45%, -50%);
}

// categorias
.mySwiper-categorias {
  .swiper-wrapper {
    border-radius: 20px;
    overflow: hidden;
  }
}

// cursos
.mySwiper-cursos {
  position: relative;
  &::before {
    content: "";
    z-index: 10;
    position: absolute;
    width: 85px;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(270deg, #31306c 0%, rgba(49, 48, 108, 0) 100%);
    transform: rotate(180deg);
  }
  &::after {
    content: "";
    z-index: 10;
    position: absolute;
    width: 85px;
    height: 100%;
    right: 0;
    top: 0;
    background: linear-gradient(270deg, #31306c 0%, rgba(49, 48, 108, 0) 100%);
  }
  .swiper-slide {
    border-radius: 20px;
    width: fit-content !important;
    overflow: hidden;
    background-color: $azul-escuro;
  }
  .cursos-button-prev,
  .cursos-button-next {
    position: absolute;
    z-index: 900;
    &:hover circle {
      fill: $laranja;
      stroke: $laranja;
    }
  }
  .cursos-button-prev {
    top: 50%;
    left: 0;
  }
  .cursos-button-next {
    top: 50%;
    right: 0;
  }
}
