* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.fw-400 {
  font-weight: 400;
}
.fw-400 a {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}
.fw-500 a {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}
.fw-600 a {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}
.fw-800 a {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}
.fw-900 a {
  font-weight: 900;
}

.fs-13 {
  font-size: 13px;
}
.fs-13 a {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}
.fs-14 a {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}
.fs-16 a {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}
.fs-18 a {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}
.fs-20 a {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}
.fs-24 a {
  font-size: 24px;
}

.fs-27 {
  font-size: 27px;
}
.fs-27 a {
  font-size: 27px;
}

.fs-35 {
  font-size: 35px;
}

.fs-64 {
  font-size: 64px;
}

.f-white {
  color: white;
}
.f-white a {
  color: white;
}

.botao-laranja {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #f07f3c;
  width: fit-content;
  height: 45px;
  filter: drop-shadow(0px 20px 20px rgba(22, 21, 67, 0.2));
  border-radius: 20px;
}
.botao-laranja img {
  margin-right: 13.14px;
}
.botao-laranja:hover {
  color: white;
}

.desconto {
  height: 50px;
  text-align: center;
  background-image: linear-gradient(to right, #31306c, #f07f3c);
  color: #f1f1f1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3000;
}
.desconto p {
  padding-top: 10px;
}
.desconto a {
  color: #f1f1f1;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 30px;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2000;
}
.nav .itens-nav {
  display: flex;
  justify-content: space-between;
  z-index: 2000;
}
.nav .itens-nav .lupa {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f07f3c;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  filter: drop-shadow(0px 20px 20px rgba(22, 21, 67, 0.2));
  margin-right: 30px;
}
.nav .itens-nav .lupa img {
  width: 22px;
  height: 22px;
}

.menu {
  cursor: pointer;
  margin-left: 30px;
  width: 133px;
  height: 45px;
  background-color: white;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu .burgir {
  width: 23px;
  height: 17px;
  position: relative;
  margin-right: 7px;
}
.menu .burgir span {
  width: 100%;
  height: 3px;
  background-color: #f07f3c;
  position: absolute;
}
.menu .burgir .top {
  top: 0;
  transition: all 0.5s ease-in-out;
}
.menu .burgir .mid {
  top: 7px;
  transition: all 0.8s ease-in-out;
}
.menu .burgir .bot {
  bottom: 0;
  transition: all 0.5s ease-in-out;
}
.menu p {
  width: 54px;
  height: 22px;
  color: #f07f3c;
  margin-bottom: 5px;
}
.menu.active .burgir .top {
  transform: rotate(30deg);
  top: 7px;
}
.menu.active .burgir .mid {
  opacity: 0;
}
.menu.active .burgir .bot {
  transform: rotate(-30deg);
  top: 7px;
}

.links-menu {
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.links-menu .itens-1 {
  height: 100%;
  background-color: rgba(41, 40, 86, 0.99);
}
.links-menu .itens-2 {
  background: linear-gradient(90deg, rgba(49, 48, 108, 0.99) -0.7%, rgba(100, 58, 155, 0.99) 47.21%, rgba(240, 127, 60, 0.99) 98.21%);
  backdrop-filter: blur(10px);
  height: 100%;
}
.links-menu .links-1, .links-menu .links-2 {
  height: 317px;
  width: fit-content;
  margin-top: 192px;
  display: flex;
  flex-direction: column;
}
.links-menu .links-1 a, .links-menu .links-2 a {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  color: white;
  width: fit-content;
}
.links-menu .links-1 a p, .links-menu .links-2 a p {
  margin-bottom: 0;
}
.links-menu .links-1 a img, .links-menu .links-2 a img {
  padding-right: 5px;
}
.links-menu .links-1 a:hover, .links-menu .links-2 a:hover {
  border-bottom: 3px solid #f07f3c;
}

.bg-intro {
  background-image: url(assets/images/banner.png);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 557px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.bg-intro .texto-intro {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bg-intro .texto-intro h1 {
  max-width: 734px;
}
.bg-intro .texto-intro p {
  width: 488px;
}
.bg-intro .texto-intro .botao-laranja {
  width: 266px;
}

.swiper-pagination {
  padding-right: 34px;
  width: fit-content;
  position: static;
}

.swiper-pagination-bullets {
  display: flex;
  gap: 33px;
}
.swiper-pagination-bullets .swiper-pagination-bullet {
  border: 1px solid white !important;
  opacity: 1;
}
.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: white !important;
}

.paginacao-intro {
  padding: 0 32px 34px 0;
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: fit-content;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
}
.paginacao-intro .setas-intro {
  display: flex;
  width: fit-content;
  padding-left: 34px;
}
.paginacao-intro .setas-intro .intro-button-prev {
  padding-right: 26px;
}

main {
  background-color: #31306c;
}

.texto-categorias {
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #f1f1f1;
  padding-bottom: 132px;
}
.texto-categorias h2 {
  font-weight: 700;
  font-size: 35px;
}
.texto-categorias p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28.13px;
  max-width: 924px;
  width: 100%;
}

.cursos-itens {
  background-repeat: no-repeat;
  background-size: cover;
  width: 538px;
  height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.cursos-itens .curso-link {
  max-height: 538px;
  height: 100%;
  max-width: 538px;
  width: 100%;
  position: relative;
}
.cursos-itens .curso-link:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}
.cursos-itens .curso-link:hover > img {
  filter: brightness(50%);
}
.cursos-itens a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}
.cursos-itens a h3 {
  font-weight: 800;
  font-size: 29px;
  line-height: 30px;
  text-align: center;
  padding-bottom: 40px;
}

.texto-cursos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.texto-oculto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.texto-oculto .faixa {
  height: 2px;
  width: 31px;
  background-color: #f07f3c;
  border: 2px solid #f07f3c;
}
.texto-oculto .mais {
  border: 3px solid #f07f3c;
  border-radius: 100%;
  padding: 15px;
  width: fit-content;
  height: fit-content;
}
.texto-oculto .mais img {
  height: 20px;
  width: 20px;
}
.texto-oculto .texto-aberto {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 30px;
  width: 253px;
}
.texto-oculto:hover .mais {
  background-color: #f07f3c;
  border-radius: 100%;
  padding: 15px;
}

.principais-cursos {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
}
.principais-cursos img {
  max-height: 490px;
  height: 100%;
}
.principais-cursos:hover a > img {
  transform: scale(1.2);
  transition-duration: 1s;
  filter: brightness(50%);
}
.principais-cursos .cursos-texto {
  position: absolute;
  bottom: 0;
  left: 0;
}
.principais-cursos a {
  text-decoration: none;
}
.principais-cursos .cursos-texto span {
  background-color: #ffffff;
  color: #31306c;
  font-weight: 800;
  font-size: 12px;
  text-align: right;
  border-radius: 100px;
  width: fit-content;
  margin-left: auto;
  padding: 0 5px;
}
.principais-cursos .cursos-texto h4 {
  color: white;
  font-weight: 600;
  font-size: 23px;
  line-height: 25px;
  text-align: left;
  max-width: 270px;
}
.principais-cursos .cursos-texto p {
  font-weight: 500;
  font-size: 17px;
  line-height: 20.57px;
  color: white;
}
.principais-cursos .cursos-texto .classificacao {
  display: flex;
  align-items: center;
}
.principais-cursos .cursos-texto .classificacao p {
  color: #f07f3c;
  font-weight: 700;
  font-size: 16px;
  padding-top: 20px;
  padding-left: 10px;
}
.principais-cursos .cursos-texto .classificacao img {
  height: 25px;
  width: 25px;
}
.principais-cursos .cursos-texto .beneficios {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 250px;
  padding-bottom: 27px;
}
.principais-cursos .cursos-texto .beneficios div {
  display: flex;
  align-items: center;
}
.principais-cursos .cursos-texto .beneficios div p {
  padding-top: 15px;
  padding-left: 7px;
}
.principais-cursos .cursos-texto .beneficios img {
  height: 25px;
  width: 25px;
}

.conheca-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 123px;
  padding-bottom: 122px;
  gap: 80px;
}
.conheca-container .imagem-modelo {
  filter: drop-shadow(0px 20px 20px rgba(22, 21, 67, 0.2));
}
.conheca-container .imagem-modelo img {
  border-radius: 20px;
}
.conheca-container .texto-conheca {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.conheca-container .texto-conheca h1 {
  font-family: 'Inter', sans-serif;
  color: #8b8b8b;
  font-weight: 700;
  font-size: 35px;
  line-height: 42.36px;
  max-width: 448px;
  padding-bottom: 60px;
  text-align: left;
}
.conheca-container .texto-conheca .vantagens {
  color: #643A9B;
}
.conheca-container .texto-conheca .vantagens h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
  max-width: 188px;
  padding-left: 8px;
  padding-top: 10px;
  text-align: left;
}
.conheca-container .texto-conheca p {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.09px;
  color: #878787;
  max-width: 448px;
  text-align: left;
  padding-bottom: 42px;
  padding-top: 20px;
}
.conheca-container .texto-conheca .botao-laranja {
  max-width: 265px;
  width: 100%;
  box-shadow: 0px 20px 20px rgba(22, 21, 67, 0.2);
  align-self: flex-start;
}

.diferenciais-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #31306c, #643A9B, #f07f3c);
  height: 620px;
}
.diferenciais-container h1 {
  font-weight: 700;
  font-size: 35px;
  line-height: 58px;
  text-align: center;
  color: white;
  padding-bottom: 60px;
}
.diferenciais-container .diferenciais-itens {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.diferenciais-container .diferenciais-itens > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.diferenciais-container .diferenciais-itens p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
  color: white;
  max-width: 233px;
  text-align: center;
}
.diferenciais-container .diferenciais-itens img {
  padding-bottom: 42px;
}

.depoimentos .botao-laranja {
  box-shadow: 0px 20px 20px rgba(22, 21, 67, 0.2);
  border-radius: 100px;
  width: 339px;
  margin-top: 57px;
}
.depoimentos .titulo-depoimentos {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  padding-top: 109px;
}
.depoimentos .titulo-depoimentos h3 {
  color: #8b8b8b;
  font-weight: 700;
  font-size: 35px;
  line-height: 42.36px;
}
.depoimentos .titulo-depoimentos p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28.13px;
  color: #878787;
}
.depoimentos .titulo-depoimentos .paginacao-depoimentos {
  display: flex;
  align-items: center;
}
.depoimentos .titulo-depoimentos .paginacao-depoimentos .swiper-pagination-bullets {
  display: flex;
  gap: 33px;
  padding-right: 34px;
}
.depoimentos .titulo-depoimentos .paginacao-depoimentos .swiper-pagination-bullets .swiper-pagination-bullet {
  border: 1px solid #31306c !important;
  background-color: transparent;
}
.depoimentos .titulo-depoimentos .paginacao-depoimentos .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: #31306c !important;
}
.depoimentos .titulo-depoimentos .paginacao-depoimentos .setas-depoimentos {
  display: flex;
  gap: 26px;
}
.depoimentos .depoimentos-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  max-width: 416px;
  height: fit-content;
  box-shadow: 0px 20px 20px rgba(49, 48, 108, 0.2);
}
.depoimentos .depoimentos-item span {
  background-image: linear-gradient(to right, #31306c, #643A9B, #f07f3c);
  width: 100%;
  height: 20px;
  border-radius: 20px 20px 0 0;
}
.depoimentos .depoimentos-item .modelo-depoimento {
  margin-top: -50px;
  height: 100px;
  width: 100px;
}
.depoimentos .depoimentos-item h4 {
  color: #31306c;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 14px;
}
.depoimentos .depoimentos-item p {
  color: #8b8b8b;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  border-bottom: 2px solid #878787;
  max-width: 350px;
  height: 250px;
}
.depoimentos .depoimentos-item .link-depoimento {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 29px 0 37px 0;
}
.depoimentos .depoimentos-item .link-depoimento a {
  color: #f07f3c;
  text-decoration: none;
  font-weight: 700;
  font-size: 13px;
  line-height: 15.73px;
  text-align: center;
}
.depoimentos .depoimentos-item .link-depoimento img {
  height: 8px;
  width: 8px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  background-color: #31306c;
}
footer a {
  text-decoration: none;
}
footer h2 {
  width: 230px;
}
footer .row {
  padding-top: 138px;
}
footer .botao-laranja {
  width: 229px;
}

.redes {
  background: linear-gradient(90deg, #31306c -0.7%, #643A9B 47.21%, #f07f3c 98.21%);
  height: 53px;
}
.redes .links-redes {
  display: flex;
  gap: 55px;
}

.certificacoes-box {
  margin-top: 75px;
  margin-bottom: 40px;
  background-color: #f1f1f1;
  border-radius: 20px;
}
.certificacoes-box .certificacoes {
  padding-top: 59px;
  padding-bottom: 35px;
  color: #8b8b8b;
}
.certificacoes-box .certificacoes .certificacoes-itens {
  padding-top: 16px;
  gap: 13px;
}
.certificacoes-box .box-info .direitos {
  padding-right: 106px;
}
.certificacoes-box .box-info p {
  color: #8B8B8B;
}
.certificacoes-box .box-info .politicas a {
  color: #31306c;
}
.certificacoes-box .box-info .politicas a:first-of-type {
  padding-right: 30px;
}

.seta-topo {
  position: absolute;
  right: 0;
  bottom: 0;
}

.zap {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 500;
}

@media (max-width: 576px) {
  .offcanvas {
    height: 100%;
  }

  .desconto {
    background-color: #31306c;
    background-image: none;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .desconto p {
    font-weight: 400;
    font-size: 15px;
    line-height: 18.15px;
    text-align: center;
    max-width: 290px;
  }

  .container-nav {
    background-position: center;
    height: 500px;
  }

  .navbar {
    flex-wrap: nowrap;
  }

  .navbar-brand img {
    width: 98px;
  }

  .responsive-button {
    display: none;
  }

  .lista {
    flex-direction: column;
    height: 100%;
  }
  .lista div:first-of-type {
    width: 100%;
    font-size: 18px;
    background-image: linear-gradient(to right, #31306c, #643A9B, #f07f3c);
  }
  .lista div:nth-of-type(2) {
    background-image: none;
    background-color: #31306c;
  }
  .lista .nav-item .nav-link {
    color: white;
  }
  .lista .nav-item .nav-link:first-of-type {
    width: 100%;
    text-align: center;
  }
  .lista .nav-item .nav-link:nth-of-type(2) {
    font-size: 20px;
    width: 100%;
    text-align: center;
  }

  .texto-header div h1 {
    font-size: 33px;
    line-height: 32px;
    max-width: 290px;
    padding-bottom: 17px;
  }
  .texto-header div p {
    max-width: 287px;
  }
  .texto-header div .descer {
    display: none;
  }

  .texto-categorias h2 {
    max-width: 290px;
  }
  .texto-categorias p {
    max-width: 290px;
  }

  .cursos-itens a h3,
  .cursos-itens a p {
    display: none;
  }

  .principais-cursos img {
    height: 100%;
    width: 100%;
  }
  .principais-cursos .cursos-texto {
    position: sticky;
  }

  .principais-cursos a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .principais-cursos .cursos-texto h4 {
    font-size: 20px;
    padding-bottom: 0;
  }
  .principais-cursos .cursos-texto .beneficios {
    flex-direction: column;
  }

  .swiper-button-next {
    display: none;
  }

  .swiper-button-prev {
    display: none;
  }

  .conheca-container > img {
    display: none;
  }
  .conheca-container .texto-conheca {
    max-width: 289px;
  }
  .conheca-container .texto-conheca h1 {
    text-align: center;
  }
  .conheca-container .texto-conheca .vantagens {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .conheca-container .texto-conheca .vantagens h3 {
    text-align: center;
  }
  .conheca-container .texto-conheca p {
    max-width: 291px;
    text-align: center;
  }

  .diferenciais-container {
    display: none;
  }

  .infos {
    flex-direction: column;
    padding-top: 0;
    gap: 0;
    align-items: flex-start;
  }

  .container-sobre .infos-links img {
    display: block;
    margin-right: 10px;
  }
  .container-sobre .infos-links:hover img {
    transition: ease-in-out 0.5s;
    transform: rotate(180deg);
  }
  .container-sobre .infos-links:hover ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .container-sobre .infos-links .button {
    display: none;
  }
  .container-sobre .infos-links ul {
    width: 260px;
    display: none;
  }
  .container-sobre .infos-links a {
    display: flex;
    align-items: center;
    color: white;
  }

  .show-button {
    display: block;
  }

  .certificacoes-itens a {
    width: 100%;
    display: none;
  }
  .certificacoes-itens .seta-baixo:hover a {
    display: flex;
    flex-wrap: wrap;
  }

  .politicas-container {
    flex-direction: column;
  }
  .politicas-container .politicas {
    flex-direction: column;
    padding-left: 0;
    gap: 20px;
  }

  .contatos ul {
    gap: 38px;
  }

  .whatsapp,
  .subir {
    display: none;
  }
}
